* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	cursor: pointer;
	background-color: black;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
}
.heading {
	font-size: 30px;
	font-weight: 600;

	text-align: center;
}
.buttons {
	margin-top: 30%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.link {
	text-decoration: none;
	color: white;
}
